@import "tailwindcss";

body{
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	scrollbar-width: none;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	user-select: none;
}

#root{
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100%;
	min-height: 100vh;

	--left-grad: linear-gradient(135deg, #FFAE00, #FF6600);
	--right-grad: linear-gradient(135deg, #5E00FF, #9D00FF);
	--grad-text: linear-gradient(135deg, #FFEE00, #FF743D);
}

span{
	color: #fff;
	font-size: 1.4rem;
}

.fill{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.overall-stat{
	font-size: 3rem;
    font-family: Abril Fatface, serif;
    font-weight: 400;
}

.lil-stat{
	font-size: 2rem;
    font-family: Abril Fatface, serif;
    font-weight: 400;
}

h2{
	font-size: 3rem;
}

h3{
	font-size: 1.8rem;
	color: white;
}

.card{
	position: relative;
	width: fit-content;
	padding: 2rem 4rem;
	border-radius: 1rem;
	font-size: 2.5rem;
	color: white;
	transition: all 0.2s ease-out;
	cursor: pointer;
	user-select: none;
}

.card::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100%);
	height: calc(100%);
	border-radius: 1rem;
	opacity: 0.8;
	transition: all 0.2s ease-out;
	z-index: -1;
}

.card:hover::before{
	filter: blur(1rem);
}

.r{
	background: var(--r-grad);
	transform-origin: 100% 100%;
}

.r::before{
	background: var(--r-grad);
}

.r:hover{
	transform: rotate(4deg);
}

.lt{
	background: var(--lt-grad);
	transform-origin: 0 100%;
}

.lt::before{
	background: var(--lt-grad);
}

.lt:hover{
	transform: rotate(-4deg);
}

.level-prev{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 30%;
	padding: 1.5rem 2rem;
	border-radius: 1rem;
	/* border: solid 2px #161616; */
	border: solid 2px #585858;
	/* background: #161616; */
	transition: all 0.3s linear;
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
}

.level-prev::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 1rem;
	background: #8c00ff40;
	filter: blur(0);
	opacity: 0;
	transition: all 0.3s linear;
	z-index: -1;
}

.level-prev:hover{
	/* background: #1b1b1b; */
	border: solid 2px #c4c4c4;
}

.level-prev:hover::before{
	opacity: 1;
	/* filter: blur(2rem); */
	filter: blur(6rem);
	/* transform: scale(1.05); */
	transform: scale(1.15);
}

.bg{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	min-width: 100%;
	min-height: 100vh;
	background: #080808;
	z-index: 0;
}

.lesson-container h1{
	font-size: 2.5rem;
	font-weight: 700;
}

.lesson-container h2{
	font-size: 2rem;
	font-weight: 500;
}

.lesson-container ul{
	list-style-type: '⬩';
	padding-left: 1.5rem;
}

.lesson-container li{
	padding-left: 0.5rem;
}
